<div class="preloader" id="preloader">
    <div class="item">
        <div class="spinner"></div>
    </div>
</div>
<div class="opacity-nav">
    <ul class="menu-fullscreen">
        <li><a href="/">Home</a></li>
        <li><a href="/signin">Login</a></li>
        <li><a href="/signup">Register</a></li>
        <li><a href="/profile">Account</a></li>
        <li><a href="/feedback">Give Feedback</a></li>
        <li><a href="/calendar">Example Calendars</a></li>
    </ul>
</div>

<header id="fullscreen">
    <div class="logo" id="full">
        <a href="/">LWSNMaps</a>
    </div>

    <div class="menu-index" id="button">
        <i class="fa fa-bars"></i>
    </div>
</header>