<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/temhead %>
</head>

<body>
    <% include partials/header %>

        <!-- GOOGLE FORM -->
        <!--<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdjWAkm9I_vV_LRrN5PHbZx5vTVIDqBPqmUJRfM58iKhec0OQ/viewform?embedded=true"
            width="760" height="750" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>-->
        <br>
        <br>
        <br>
        <br>
        <br>
        <form action="" id="feedbackForm" style="margin: 0 auto; width: 50%;">
            <p> CONNECT TO FIREBASE AND SEND SUCCESS MESSAGE</p>
            <label>What feature(s) do you enjoy the most</label>
            <input type="text" id="name" value="Enter Your favorite features.">
            <br>

            <label>How would rank the overall style, design, and interaction of the application?</label>
            <input id="appStyleRank" type="number" value="Rank 1-10">
            <br>
            
            <br>
            <br>
            <input type="submit" value="Submit Feedback">
        </form>

        <!--Footer-->
        <% include partials/footer %>
            <!--Scripts-->
            <script src="../js/script.js"></script>
            <script src="../js/jquery.min.js"></script>
            <script src="../js/jquery.easing.min.js"></script>
            <script src="../js/modernizr.custom.42534.js" type="text/javascript"></script>
            <script src="../js/jquery.waitforimages.js" type="text/javascript"></script>
            <script src="../js/typed.js" type="text/javascript"></script>
            <script src="../js/masonry.pkgd.min.js" type="text/javascript"></script>
            <script src="../js/imagesloaded.pkgd.min.js" type="text/javascript"></script>
            <script src="../js/jquery.jkit.1.2.16.min.js"></script>
            <script src="../js/script.js" type="text/javascript"></script>
            <script src='js/fullcalendar.min.js'></script>
            <script src='js/scheduler.min.js'></script>

            <script>
                $('#button').on('click', function () {
                    $(".opacity-nav").fadeToggle("slow", "linear"); // Animation complete.
                });
            </script>
</body>

</html>