<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>EJS INDEX TESTING</title>

</head>
<body>
    <h2>THIS IS INDEX.EJS</h2>
    
</body>
</html>
